.exploreOurSecretSection {
    background-image: url(/asset/image/Img-acc/ifan-bima-B04Xpnu5JQ4-unsplash_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1600px;
}

.byTHeNUmberSection {
    background-color: rgba(57, 178, 73, 0.6);
    width: 100%;
    height: 500px;
    margin-top: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textNumPartie {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-top: 50px;
    gap: 30px;
}

.onetextNumP {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
}

.byTHeNUmberText {
    color: white;
    font-size: 70px;
    font-weight: 400;
}

.numPara {
    color: black;
    font-size: x-large;
    font-weight: bolder;
}

.paragrapheLorem {
    color: white;
    text-align: center;
    margin-top: 20px;
    line-height: 21px;
}

.threeImageGood {
    width: 270px;
    height: 180px;
    margin: 6px;
}

.imagesDivThreeExplore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.imagesBUtoonPartie {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.imagesBUtoonPartie button {
    background: none;
    border: none;
    font-size: x-large;
    cursor: pointer;
}

.imagesBUtoonPartie button:hover {
    font-size: xx-large;
    text-shadow: 1px 1px 4px black;
    margin-left: -5px;
}

.imagesDivThreeExplore p {
    font-size: 35px;
}

.imagesButtonRadioSectionDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.radioPartie {
    display: flex;
    gap: 15px;
}

.radioPartie input[type=radio] {
    width: 15px;
    height: 15px;
}